<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<h1>I'm at confirm post!</h1>


<p>Your id:<%= id %>.</p>

<p>Your content is:</p>
<p><%= content %></p>

<a href=""><button type="button" name="button">Link to edit page</button></a>

<a href="/top"><button type="button" name="button">Link to top page</button></a>

  </body>
</html>
