<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/topstyle2.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <div class="login">
      <h1 class="title" >Placebook</h1>
      <h1 style="margin: 0px; color: white; margin-left:10px;">Edit account</h1>
    </div>


    <div class="container">
      <div class="row infobox">
        <div class="col-xs-12">
          <form action="/createpost/updateacc/post/<%= data.id %>" method="post">

            <h2>Are you sure you want to delete "<%= data.name %>"?</h2>

            <label id="user" for="">User name</label>
            <input id="texter" type="text" name="name" value="<%= data.name %>">

            <input class="submitter" type="submit" name="submit">

          </form>

          <div class="opti">
            <a href="/createpost/updateacc/delete"><button type="button" name="button">Delete</button></a>

            <a href="/top"><button type="button" name="button">Home</button></a>

          </div>

        </div>

      </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


  </body>
</html>
