<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/createpost/updateacc/post/<%= data.id %>" method="post">

      <label for="">User name</label>
      <input type="text" name="name" value="<%= data.name %>">

      <input type="submit" name="submit">

    </form>

    <a href="/createpost/updateacc/delete"><button type="button" name="button">Delete</button></a>

    <a href="/top"><button type="button" name="button">Home</button></a>

  </body>
</html>
