<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="index.html" method="post">

      <label for="">Post Id</label>
      <input type="text" name="" value="">

      <label for="">User Id</label>
      <input type="text" name="" value="">

      <label for="">User name</label>
      <input type="text" name="" value="">

      <label for="">Content</label>
      <input type="text" name="">

    </form>
  </body>
</html>
