<!DOCTYPE html>
<html>
  <head>
    <title>Placebook home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login">
      <h1 class="title">Placebook</h1>
      <form class = "forma" method="post">
          <input class="newnew" type="text" name="usrName" placeholder="username"></input>
          <input class="newnew" type="text" name="password" placeholder="password"></input>
          <input class="newnew" type="submit" name="submit" value="Login"></input>
      </form>
    </div>

    <div class="regdiv">
      <div class="innerDiv">
        <h2>Don't have an account?</h2>
        <a href="register" style="display: inline;"><button class="reg">Register</button></a>
      </div>
    </div>
    <div class="foot">
      <footer>
        <div class="footbox">
          <div class="bottom">

            <div class="desc">
              <h1>Anywhere</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>

            <div class="desc" id="descmid">
              <h1>Anytime</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>

            <div class="desc">
              <h1>Anyplace</h1>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              </p>
            </div>
        </div>

        </div>
      </footer>
    </div>





  </body>
</html>
