<!DOCTYPE html>
<html>
  <head>
    <title>Placebook home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="login">
      <h1>Placebook</h1>
      <form class = "forma" method="post">
        <div class="cool">
          <input class="newnew" type="text" name="usrName" placeholder="username"></input>
          <input class="newnew" type="text" name="password" placeholder="password"></input>
          <input class="newnew" type="submit" name="submit"></input>
        </div>
      </form>
    </div>

    <div class="regdiv">
      <a href="register" style="display: inline;"><button class="reg">Register</button></a>
    </div>

  </body>
</html>
