<!DOCTYPE html>
<html>
  <head>
    <title>Placebook register</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Register new user</h1>
    <form method="post">
      <input type="text" name="usrName" placeholder="username"></input>
      <input type="text" name="password" placeholder="password"></input>
      <input type="submit" name="submit"></input>
    </form>
  </body>
</html>
