<!DOCTYPE html>
<!--THIS CODE WORKS-->
<html>
   <head>
          <link rel="stylesheet" href="/stylesheets/topstyle.css" />
      <meta charset="utf-8">
      <title>hi</title>
   </head>
   <body>
      <div class="login">
        <h1 class="title">Placebook</h1>
     </div>



<div class="contentarea">
      <form action= "edit" method="post">

<!-- p tag codes below pull info from db to populate fiels on edit page-->
         <p>
            <label for = "content">Posts</label>
            <input type  = "text" id="content" name= "content" placeholder = "content">

            <input type  = "text" id="password" name= "password" placeholder = "password">

         </p>


           <button type="button" name="button">Submit Changes</button>


         </p>
      </form>
      <a href="/top"><button type="button" name="button">Home page</button></a>
   </body>
</html>
