<!DOCTYPE html>
<!--THIS CODE WORKS-->
<html>
   <head>
      <meta charset="utf-8">
      <title>hi</title>
   </head>
   <body>

      <form action= "edit" method="post">

<!-- p tag codes below pull info from db to populate fiels on edit page-->
         <p>
            <label for = "content">Posts</label>
            <input type  = "text" id="content" name= "content" placeholder = "content">
            <input type  = "text" id="password" name= "password" placeholder = "password">
         </p>

         <input type="submit" name="submit" value="Submit Changes">

      </form>
      <a href="/top"><button type="button" name="button">Home page</button></a>
   </body>
</html>
