<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>

    <p>Your recent location posts </p>

   <ul>

      <% for (var i=0; i< data.length; i++) {%>
   <li><%= data[i].content %></li>
   <% } %>

    </ul>



<<<<<<< HEAD
    <a href="/createpost/create">
=======
    <a href="top/top" style="text-decoration: none">
>>>>>>> 02b73a6a1dc1c092a88ca8237060ab0a28a026d9
      <button type="button" name="button">new post</button>
    </a>

    <a href="top/logout">
      <button style="margin-left:10px;" type="button" name="button">logout</button>
    </a>


  </body>
</html>
