<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/topstyle.css" />
  </head>
  <body>

    <p>Your recent location posts </p>

    <table border='1' class='blah' id='kit'>


     <% for (var i=0; i< data.length; i++) {%>
         <tr>
        <td><%= data[i].content %>
           <%console.log(data[i].id)%>

        <a href = "/top/<%= data[i].id %>/edit">
          <button type="button" name="button" id="edit">Edit Post</button>
        </a>

        <a href = "/top/<%= data[i].id %>/views">
          <button type="button" name="button" id="edit">View Post</button>
        </a>

        <a href = "/top/<%= data[i].id %>/delete">
           <button type="button" name="button" id="delete">Delete Post</button>
        </a>
           <% } %>
        </td>

     </tr>



     </table>



     <p>
        <a href="createpost/create" style="text-decoration: none">
          <button type="button" name="button">new post</button>
        </a>

        <a href="top/logout">
         <button style="margin-left:10px;" type="button" name="button">logout</button>
       </a>

     </p>
   </body>
 </html>
