<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/topstyle.css" />
  </head>
  <body>

    <p>Your recent location posts </p>

   <ul>

      <% for (var i=0; i< data.length; i++) {%>
   <li><%= data[i].content %></li>
   <% } %>

    </ul>




    <a href="/createpost/create" style="text-decoration: none">
      <button type="button" name="button">new post</button>
    </a>

    <a href="top/logout">
      <button style="margin-left:10px;" type="button" name="button">logout</button>
    </a>


  </body>
</html>
