<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yo</title>
  </head>
  <body>
    <%if(login || parseInt(visitor) === data[0].id){%>
    <h1>I'm at confirm post!</h1>

    <h1><%=data[0].content%></h1>
    <%}%>

    <%if (!login && !visitor){%>
    <form method="post">
      <input type="text" name="password" placeholder="password" />
      <input type="submit" name="submit" value="Enter" />
    </form>
    <%}%>

    <%if(login){%>
    <a href = "/top/<%= data[0].id %>/edit"><button type="button" name="button" id="edit">Edit Post</button></a>

    <a href="/top"><button type="button" name="button">Home page</button></a>
    <%}%>

  </body>
</html>
